* {
  font-family: Roboto, 'sans-serif';
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.modal__content {
  letter-spacing: 0.3px;
  display: flex;
  justify-content: space-between;

  .modal__data {
    font-size: 1.1em;
    color: #212529;
    h3 {
      font-weight: bold;
      font-size: 1.5em;
    }
    p{
      margin-top: 5px;
      span {
        font-weight: bold;
      }
    }
  }
}